.clients-list {
    @extend %list;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.clients-item {
    width: calc((100% - 30px) / 2);
    height: 92px;
}
.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid $icon-fill-color;
    border-radius: 4px;
    fill: $icon-fill-color;

    &:hover,
    &:focus {
        border: 1px solid $accent-color;
        fill: $accent-color;
    }
}
