.hero-title {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 45px;
    padding-right: 45px;
   
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $hero-title-color;
}