.tasks-container {
    @extend %container;
}

.tasks-list {
    @extend %list;
    display: flex;
    gap: 30px;
}

.tasks-item {
    flex-basis: calc((100% - 60px) / 3);
}

.img-cover {
    position: relative;
}

.img-description {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
}

.description-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: #FFFFFF;
}