.header-contacts {
    @extend %list;
    display: flex;
    gap: 50px;

    margin-left: auto;        
}

.header-contacts .contacts {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;    

    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    text-decoration: none;
    color: $primary-text-color;
    fill: $primary-text-color;

        &:hover,
        &:focus {
            color: $accent-color;
            fill: $accent-color;
        }
}

.icon-mail {
    margin-right: 10px;    
}
.icon-phone {
    margin-right: 10px;
}