.header-logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: $logo-text-color;
}
.logo {
    color: $accent-color;
}
