.header-list {
    @media screen and (max-width: 767px) {
        display: none;
    }
    
    

    @extend %list;

    padding-top: 48px;
    padding-left: 40px;
    
    // display: flex;
    // gap: 50px;
    
    // margin-left: 93px;

    // @media screen and (max-width: 767px) {
    //     display: none;       
    // }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 50px;

        margin-left: 87px;
    }
    @media screen and (min-width: 1200px) {
    

        margin-left: 93px;
    }
}


