.mobile-btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    z-index: 2;

    @media screen and (min-width: 768px) {
        display: none;        
    }
}

.mobile-btn .icon-cross {
    display: none;
}

.mobile-btn.is-open .icon-cross {
    display: block;

   
}
.mobile-btn.is-open .icon-menu {
    display: none;
}
.icon-cross:hover,
.icon-cross:focus {
    fill: $accent-color;
}