

/* Стилі для форми ПІДПИСАТИСЯ */


.send-container {
    margin-left: auto;
}

.send-container .title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #FFFFFF;

}
.send-form {
    display: flex;
}

.user-send {
    margin: 0;
}

.send-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-back-color);
}

.send-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    min-width: 200px;
    height: 50px;
    border: none;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);

}
.send-btn::after { 
    /* display: flex;    */
    content: "";
    height: 24px;
    width: 24px;
    margin-left: 10px;

    background-image: url(../images/send.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
    
}


.send-btn:hover,
.send-btn:focus {
    background-color: #188CE8;;
    cursor: pointer;
}




/* Стилі для portfolio.html */

/*             Стилі для карток проєктів */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.projects .item {
    flex-basis: calc((100% - 60px) / 3);
}
.photo-thumb {
    overflow: hidden;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-overlay {
    /* display: flex; */
    position: absolute;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    background-color: var(--card-overlay-color);
    
    /* opacity: 0; */

    transform: translateY(calc(100% + 1px));
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .photo-text {    
    width: 322px;    
} */
.overlay-text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--hero-title-color);
}
.projects-border {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: #ffffff;
}
.projects-link {
    display: block;
    text-decoration: none;

}
.projects-link:hover,
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link:hover .photo-overlay,
.projects-link:focus .photo-overlay {
    /* opacity: 1; */
    transform: translateY(0);

}
.projects-link:hover .photo-text,
.projects-link:focus .photo-text {
    opacity: 1;
}
/* .projects .photo {
    margin-bottom: 20px;
} */
.projects .title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.projects .text {
    font-size: 16px;
    line-height: 1.88; 
    color: var(--primary-text-color);   
}