$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196F3;
$body-back-color: #FFFFFF;
$header-back-color: #FFFFFF;
$hero-back-color: #2F303A;
$hero-title-color: #FFFFFF;
$section-comand-back-color: #F5F4FA;
$footer-back-color: #2F303A;
$footer-address-color: rgba(255, 255, 255, 0.6);
$logo-text-color: #000000;
$icon-fill-color: #AFB1B8;
$icon-fill-footer: rgba(255, 255, 255, 0.1);
$-card-overlay-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$header-border-color: #ECECEC;
$button-color: #2196F3;
$button-accent-color: #188CE8;
$modal-back-color: #FFFFFF;
$icon-close-back: #FFFFFF;
$icon-close-border: rgba(0, 0, 0, 0.1);
$icon-close-accent: #2196F3;
$modal-title-color: #212121;
$form-label-color: #757575;
$form-border-color: rgba(33, 33, 33, 0.2);
$form-outline-accent: #2196F3;
$input-icon-accent: #2196F3;
$placeholder-color: rgba(117, 117, 117, 0.5);